body {
    font-family:"Lato", sans-serif;
    display:flex;
    flex-direction: column;
    --text-color:#e8e6e3;
    --bg-color:#181a1b;
    --table-border-color:#474d50;
    --link-color:#3369ff;
    --card-bg:#102b61;
    --dropdown-bg:#2b2a33;
}

body.light-mode {
    --text-color:black;
    --bg-color:#e8e6e3;
    --table-border-color:black;
    --card-bg:#102b61;
    --dropdown-bg:rgba(255, 255, 255, 0.979);
}

body {
    color:var(--text-color);
    background-color: var(--bg-color);
}

header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:100;
    background-color:#102b61;
    border:0;
    display:flex;
    color:#ddd;
}

header>div {
    flex:1;
}

#logo {
    font-family:"Bebas Neue", sans-serif;
    font-size:2rem;
    margin:0;
    flex:1;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    height:80px;
    align-items:center;
}

#logo:hover {
    filter:brightness(0.8);
    cursor:pointer;
}

header>div>img {
    position:relative;
    top:-3px;
}

#logo>h1 {
    margin:0;
}

#everythingelseintheheader {
    display:flex;
    justify-content:right;
    gap:15px;
    align-items:center;
}

#togglelightmode, #gonotifs {
    width:25px;
    height:25px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:0;
    background:none;
}

#togglelightmode:active, #gonotifs:active {
    transform:scale(1.2);
}

#everythingelseintheheader > a {
    align-self:center;
}

.content {
    display:flex;
    flex-direction: column;
    margin-top:4.5rem;
}

input.smalltext {
    width:200px;
}

.content>select {
    width:fit-content;
}

button {
    width:60px;
    background-color:#1565e7;
    color:white;
    border-radius:5px;
    border:2px solid black;
    font-weight:500;
}

button:hover {
    cursor:pointer;
    filter:brightness(0.9);
}

button:active {
    transform:scale(1.02);
}

a {
    text-decoration:none;
    font-weight:800;
    color:var(--link-color);
}

table {
    border-collapse:collapse;
    margin-top:10px;
}

th, td {
    text-align:center;
    border:1px solid var(--table-border-color);
    padding:7px;
}

input, select {
    border-radius:5px;
    border:1px solid var(--table-border-color);
    color:inherit;
    background-color: grey;;
}

select:hover {
    filter:brightness(0.8);
}

input[type="number"] {
    max-width:70px;
}

fieldset {
    border:2px solid var(--table-border-color);
    border-radius:5px;
}

.card {
    background-color: var(--card-bg);
    color:#e8e6e3;
    padding:15px;
    flex:1;
    border-radius:10px;
    display:block;
    text-align:center;
    height:auto;
    border:2px solid var(--table-border-color);
}

.card>img {
    width:80%;
}

input[type="checkbox"] {
    border:5px solid black;
}

li {
    list-style-position: inside;
}